In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tapes,BR,2022-10-04 23:49:36,-30.6733,-51.3958,57.20,85,0,6.87
1,1,Ocean City,US,2022-10-04 23:49:37,39.2776,-74.5746,59.99,93,100,13.00
2,2,Busselton,AU,2022-10-04 23:40:44,-33.6500,115.3333,57.74,74,75,16.22
3,3,Olafsvik,IS,2022-10-04 23:49:03,64.8945,-23.7142,40.87,92,100,35.28
4,4,Kandrian,PG,2022-10-04 23:49:37,-6.2167,149.5500,84.49,74,94,5.01

In [3]:
#  get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]   
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]   
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]   
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to enter the min and max temp value
min_temp=float(input("What is the minimum temperature you would like for your trip?"))
max_temp=float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [10]:
#  filter the dataset to find the cities that fit the criteria
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<= max_temp)& \
                                 (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kandrian,PG,2022-10-04 23:49:37,-6.2167,149.5500,84.49,74,94,5.01
5,5,Hasaki,JP,2022-10-04 23:47:40,35.7333,140.8333,75.60,82,91,25.23
10,10,Vaini,TO,2022-10-04 23:45:29,-21.2000,-175.2000,78.96,89,75,4.61
15,15,Mabaruma,GY,2022-10-04 23:49:42,8.2000,-59.7833,78.71,85,86,3.51
20,20,Alofi,NU,2022-10-04 23:49:43,-19.0595,-169.9187,82.29,74,13,11.50
21,21,Tautira,PF,2022-10-04 23:49:44,-17.7333,-149.1500,76.21,73,53,23.24
32,32,Sokoni,TZ,2022-10-04 23:49:48,-6.4333,39.5500,75.06,82,8,10.25
38,38,Atuona,PF,2022-10-04 23:40:51,-9.8000,-139.0333,77.04,69,19,20.22
44,44,Kavaratti,IN,2022-10-04 23:44:06,10.5669,72.6420,81.63,76,97,16.31
45,45,Samarai,PG,2022-10-04 23:49:54,-10.6167,150.6667,81.34,83,92,16.40

In [11]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df=preferred_cities_df[["City", "Country","Max Temp","Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""

hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
4    Kandrian      PG     84.49  -6.2167  149.5500
5      Hasaki      JP     75.60  35.7333  140.8333
10      Vaini      TO     78.96 -21.2000 -175.2000
15   Mabaruma      GY     78.71   8.2000  -59.7833
20      Alofi      NU     82.29 -19.0595 -169.9187
21    Tautira      PF     76.21 -17.7333 -149.1500
32     Sokoni      TZ     75.06  -6.4333   39.5500
38     Atuona      PF     77.04  -9.8000 -139.0333
44  Kavaratti      IN     81.63  10.5669   72.6420
45    Samarai      PG     81.34 -10.6167  150.6667

In [13]:
# Set the parameters 
params={"radius": 5000,
        "type":"lodging",
       "key":g_key,
              }

#Iterate thru the DataFrame
for index, row in hotel_df.iterrows():
    # get the lat and long
    lat=row["Lat"]
    lng=row["Lng"]
    
    
    # Add the latitude and longtitude to location key for the params dictionary
    params["location"]=f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels=requests.get(base_url, params=params).json()
     # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng                Hotel Name
4    Kandrian      PG     84.49  -6.2167  149.5500          Kandrian Station
5      Hasaki      JP     75.60  35.7333  140.8333     Inubosaki Kanko Hotel
10      Vaini      TO     78.96 -21.2000 -175.2000       Keleti Beach Resort
15   Mabaruma      GY     78.71   8.2000  -59.7833  Monty Brooms Guest House
20      Alofi      NU     82.29 -19.0595 -169.9187             Taloa Heights
21    Tautira      PF     76.21 -17.7333 -149.1500              Pension Oaoa
32     Sokoni      TZ     75.06  -6.4333   39.5500       Ujamaa Beach Resort
38     Atuona      PF     77.04  -9.8000 -139.0333               Villa Enata
44  Kavaratti      IN     81.63  10.5669   72.6420                Green leaf
45    Samarai      PG     81.34 -10.6167  150.6667                 Nuli Sapi

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))