# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,65.52,84,52,2.80,broken clouds
1,1,Santa Maria,BR,-29.6842,-53.8069,67.30,100,100,5.75,mist
2,2,Punta Arenas,CL,-53.1500,-70.9167,44.71,65,75,18.41,broken clouds
3,3,Avarua,CK,-21.2078,-159.7750,78.85,61,87,14.97,overcast clouds
4,4,Busselton,AU,-33.6500,115.3333,52.86,67,99,1.99,overcast clouds
5,5,Samsun,TR,41.2500,36.3333,61.00,94,40,3.44,scattered clouds
6,6,Ushuaia,AR,-54.8000,-68.3000,44.26,65,75,2.30,broken clouds
7,7,Kathu,TH,7.9178,98.3332,84.69,84,100,4.90,overcast clouds
8,8,Caravelas,BR,-17.7125,-39.2481,73.67,84,40,5.84,scattered clouds
9,9,Poum,NC,-20.2333,164.0167,76.21,67,30,7.40,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is your minimum temperature requirements for the trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is your maximum temperature requirements for the trip?"))

What is your minimum temperature requirements for the trip?75
What is your maximum temperature requirements for the trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>=75) &\
                                       (city_data_df["Max Temp"]<=90)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Avarua,CK,-21.2078,-159.7750,78.85,61,87,14.97,overcast clouds
7,7,Kathu,TH,7.9178,98.3332,84.69,84,100,4.90,overcast clouds
9,9,Poum,NC,-20.2333,164.0167,76.21,67,30,7.40,scattered clouds
14,14,Butaritari,KI,3.0707,172.7902,82.42,74,40,15.88,scattered clouds
17,17,Kapaa,US,22.0752,-159.3190,85.10,53,0,10.36,clear sky
28,28,Soure,BR,-0.7167,-48.5233,81.37,77,41,14.90,scattered clouds
33,33,Puri,IN,19.8000,85.8500,77.52,80,98,9.04,overcast clouds
34,34,Georgetown,MY,5.4112,100.3354,78.73,91,20,4.61,few clouds
36,36,Cayenne,GF,4.9333,-52.3333,80.64,78,0,6.91,clear sky
39,39,Namatanai,PG,-3.6667,152.4333,84.99,60,100,10.42,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities =preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Avarua,CK,-21.2078,-159.7750,78.85,61,87,14.97,overcast clouds
7,7,Kathu,TH,7.9178,98.3332,84.69,84,100,4.90,overcast clouds
9,9,Poum,NC,-20.2333,164.0167,76.21,67,30,7.40,scattered clouds
14,14,Butaritari,KI,3.0707,172.7902,82.42,74,40,15.88,scattered clouds
17,17,Kapaa,US,22.0752,-159.3190,85.10,53,0,10.36,clear sky
28,28,Soure,BR,-0.7167,-48.5233,81.37,77,41,14.90,scattered clouds
33,33,Puri,IN,19.8000,85.8500,77.52,80,98,9.04,overcast clouds
34,34,Georgetown,MY,5.4112,100.3354,78.73,91,20,4.61,few clouds
36,36,Cayenne,GF,4.9333,-52.3333,80.64,78,0,6.91,clear sky
39,39,Namatanai,PG,-3.6667,152.4333,84.99,60,100,10.42,overcast clouds

In [10]:
clean_travel_cities.count()

City_ID                195
City                   195
Country                195
Lat                    195
Lng                    195
Max Temp               195
Humidity               195
Cloudiness             195
Wind Speed             195
Current Description    195
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [11]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df= clean_travel_cities[["City","Country","Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

          City Country  Max Temp Current Description      Lat       Lng
3       Avarua      CK     78.85     overcast clouds -21.2078 -159.7750
7        Kathu      TH     84.69     overcast clouds   7.9178   98.3332
9         Poum      NC     76.21    scattered clouds -20.2333  164.0167
14  Butaritari      KI     82.42    scattered clouds   3.0707  172.7902
17       Kapaa      US     85.10           clear sky  22.0752 -159.3190
28       Soure      BR     81.37    scattered clouds  -0.7167  -48.5233
33        Puri      IN     77.52     overcast clouds  19.8000   85.8500
34  Georgetown      MY     78.73          few clouds   5.4112  100.3354
36     Cayenne      GF     80.64           clear sky   4.9333  -52.3333
39   Namatanai      PG     84.99     overcast clouds  -3.6667  152.4333

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [12]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]=""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Avarua,CK,78.85,overcast clouds,-21.2078,-159.7750,
7,Kathu,TH,84.69,overcast clouds,7.9178,98.3332,
9,Poum,NC,76.21,scattered clouds,-20.2333,164.0167,
14,Butaritari,KI,82.42,scattered clouds,3.0707,172.7902,
17,Kapaa,US,85.10,clear sky,22.0752,-159.3190,
28,Soure,BR,81.37,scattered clouds,-0.7167,-48.5233,
33,Puri,IN,77.52,overcast clouds,19.8000,85.8500,
34,Georgetown,MY,78.73,few clouds,5.4112,100.3354,
36,Cayenne,GF,80.64,clear sky,4.9333,-52.3333,
39,Namatanai,PG,84.99,overcast clouds,-3.6667,152.4333,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [13]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [14]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat =row["Lat"]
    lng =row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url,params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Avarua,CK,78.85,overcast clouds,-21.2078,-159.7750,Paradise Inn
7,Kathu,TH,84.69,overcast clouds,7.9178,98.3332,Novotel Phuket Resort
9,Poum,NC,76.21,scattered clouds,-20.2333,164.0167,
14,Butaritari,KI,82.42,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
17,Kapaa,US,85.10,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Soure,BR,81.37,scattered clouds,-0.7167,-48.5233,Casarão da Amazônia
33,Puri,IN,77.52,overcast clouds,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
34,Georgetown,MY,78.73,few clouds,5.4112,100.3354,Cititel Penang
36,Cayenne,GF,80.64,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
39,Namatanai,PG,84.99,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [16]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()


# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Avarua,CK,78.85,overcast clouds,-21.2078,-159.7750,Paradise Inn
7,Kathu,TH,84.69,overcast clouds,7.9178,98.3332,Novotel Phuket Resort
9,Poum,NC,76.21,scattered clouds,-20.2333,164.0167,
14,Butaritari,KI,82.42,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
17,Kapaa,US,85.10,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Soure,BR,81.37,scattered clouds,-0.7167,-48.5233,Casarão da Amazônia
33,Puri,IN,77.52,overcast clouds,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
34,Georgetown,MY,78.73,few clouds,5.4112,100.3354,Cititel Penang
36,Cayenne,GF,80.64,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
39,Namatanai,PG,84.99,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani

In [19]:
clean_hotel_df.count()

City                   195
Country                195
Max Temp               195
Current Description    195
Lat                    195
Lng                    195
Hotel Name             195
dtype: int64

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [20]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Avarua,CK,78.85,overcast clouds,-21.2078,-159.7750,Paradise Inn
7,Kathu,TH,84.69,overcast clouds,7.9178,98.3332,Novotel Phuket Resort
9,Poum,NC,76.21,scattered clouds,-20.2333,164.0167,
14,Butaritari,KI,82.42,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
17,Kapaa,US,85.10,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Soure,BR,81.37,scattered clouds,-0.7167,-48.5233,Casarão da Amazônia
33,Puri,IN,77.52,overcast clouds,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
34,Georgetown,MY,78.73,few clouds,5.4112,100.3354,Cititel Penang
36,Cayenne,GF,80.64,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
39,Namatanai,PG,84.99,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [21]:
# Set the file name.
output_data_file ="WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file,  index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [22]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [23]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Novotel Phuket Resort</dd>\n<dt>City</dt><dd>Kathu</dd>\n<dt>Country</dt><dd>TH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.69 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Poum</dd>\n<dt>Country</dt><dd>NC</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casarão da Amazônia</dd>\n<dt>City</dt><dd>Soure</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 1577 Hotel Shree Hari Grand</dd>\n<dt>City</dt><dd>Puri</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Seagulls Inn Namatani</dd>\n<dt>City</dt><dd>Namatanai</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.99 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [24]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3  -21.2078 -159.7750
7    7.9178   98.3332
9  -20.2333  164.0167
14   3.0707  172.7902
17  22.0752 -159.3190
28  -0.7167  -48.5233
33  19.8000   85.8500
34   5.4112  100.3354
36   4.9333  -52.3333
39  -3.6667  152.4333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [25]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))